*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5ebdc;
}
.header{
    min-height: 9vh;
    width: 100%;
    position: fixed;
    background-color:  #f5ebdc;
    border-bottom: 1px solid #d8cdaf;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu{
    width: 20px;
    padding-left: 170px;
    padding-top: 17px;
}
.nav_logo{
    width: 35px;
    padding-left: 80px;
    padding-top: 12px;
}         
.buttons{
    padding-top: 12px;
    margin-right: 13%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}         
.nav_cart{
    padding: 10px;
    background: rgb(62, 9, 9);
    border-radius: 20px;
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
}
.nav_signup{
    padding: 10px;
    background: #a71b00;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.anime_header{
    display: flex;
    margin-top: 9vh;
}
.line{
    width: 100%;
    min-height: 1px;
    background: lightslategray;
}
.anime_text p{
    font-size: 60px;
    color: rgb(62, 9, 9);
    font-family: fantasy;
    font-weight: 800;
    font-style: normal;
    padding: 40px 0px 0px 160px;
    margin-left: 10px;
}
.anime_text a{
    margin: 40px;
}
.order_pickup {
    margin-top: 30px;
    margin-left: 125px;
}
.order_pickup a{
    text-decoration: none;
    font-size: 20px;
    background-color: #d62300;
    border-radius: 70px;
    padding: 17px;
    padding-left: 80px;
    padding-right: 90px;
    color: white;
   
    font-family: 'Franklin Gothic Medium';
}
.order_deliver{
    margin-top: 50px;
    margin-left:130px;
}
.order_deliver a{
    border-radius: 70px;
    border: 1px solid;
    border-color: red;
    padding: 17px ;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: red;
    padding-left: 73px;
    padding-right:80px;
}
.anime_header img{
    width: 85%;
}
.body_discription
{
    display: flex;
    margin-top: 18px;
    gap: 20px;
    margin-left: 11%;
}
.body_img1{
    width: 550px;
   
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.body_img1 img{
    width:100% ;
    height: auto;
}
.body_content{
    background: #fff;
    height: 200px;
}
.body_content p{
     font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 18px;
    color: rgb(62, 9, 9);
}
.body_content h1{
    font-size: 12px;
    padding-left: 15px;
    color: rgb(62, 9, 9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body_buttons{
    margin-top: 11%;
    margin-left: 66%;
}
.body_content a{
    text-decoration: none;
    font-size: 12px;
    font-family: "Angkor", serif;
    border-radius: 30px;
    border: 1px solid;
    padding: 10px;
    color: rgb(171, 43, 43);
}
.body_button{
    margin-left: 60%;
    margin-top: 5%;
}
.last_container{
    display: flex;
    background: #ebe2d3;
    margin-top: 190px;
   
}
.mobail_img img{
    width: 420px;
    margin-left: 245px;
}
.play_icons{
    display: flex;
    gap: 17px;
}
.main_content img{
    width: 150px;
    margin-top: 30px;
}
.main_content p{
    font-size: 35px;
    font-family: "Angkor", serif;
    font-weight: 900;
    font-style: norma;
    color: rgb(62, 9, 9);
}
.main_content{
    padding: 100px;
}
.main_content h1{
    font-size: 12px;
    margin-top: 20px;
    font-family:  sans-serif;
}
.last_navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    background: rgb(62, 9, 9);
    color: #fff;
}
.last_navbar h3{
    padding: 15px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23%;
    height: 9vh;
    position: fixed;
    bottom: 0;
    background: #f5ebdc;
    width: 100%;
}
.footer ul li img{
    width: 20px;
    height: 20px;
}
.footer li{
    list-style-type: none;
}
.footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}